body {
  font-family: "popins", sans-serif;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.container {
  margin: 8px auto;
  width: 350px;
}
h1 {
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 5px;
}
h3 {
  border-bottom: 1px, solid #bbb;
  margin-bottom: 5px;
  margin: 8px 0 10px;
}
h4 {
  text-transform: uppercase;
  margin-left: 8px;
}
.inc-exp-container {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
}
.inc-exp-container > div {
  flex: 1;
  text-align: center;
  padding-right: 40px;
}
.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}
.money {
  font-size: 15px;
  margin: 5px 0;
  padding-left: 40px;
}
.money-plus {
  color: green;
}
.money-minus {
  color: red;
}
label {
  display: inline-block;
  margin: 10px 0;
}
input {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  padding: 10px;
  width: 100%;
}
.btn {
  cursor: pointer;
  background-color: #1c2042;
  color: #fff;
  display: block;
  border: 0;
  width: 100%;
  margin: 10px 0 30px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}
.btn:focus,
.delete-button:focus {
  outline: 0;
}
.list {
  list-style: none;
  margin-bottom: 20px;
}
.list li {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  width: 320px;
  margin-left: -20px;
}
.list li.plus {
  border-right: 5px solid green;
}
.list li.minus {
  border-right: 5px solid red;
}
.delete-btn {
  cursor: pointer;
  background-color: red;
  border: 0;
  color: #fff;
  font-size: 1.5rem;
  padding: 2px 5px;
  position: absolute;
  top: 0%;
  left: 0;
  transform: translate(-100% -50%);
  opacity: 0;
  transition: all;
}
#balance {
  font-weight: bold;
  margin-left: 10px;
}
